.header{
    background: black;
  
}

.name{
    text-align: center;
    font-family: 'Diplomata SC';  
}

.foot{
    color: white;
}

h4{
    color: rgb(162, 0, 255);
}

.info{
    color: white;
}

.icons{
    float: left;
}

